@using System.Security.Claims
@using System.Text.Json
@model Intranet_NEW.Models.WEB.PowerBiModel

<div class="dashboard-card">
    <p style="display:none">@Model.Favorito</p>
    <div class="d-flex w-100 justify-content-between">
        <!-- Botão Favoritar -->
        <button class="btn-favoritar" title="Favoritar este dashboard" onclick="FavoritarDashboard(@Model.Id, this)" data-id="@Model.Id">
           @if (Model.Favorito == 1)
            {
                <i class="fas fa-star"></i>
            }
            else
            {
                <i class="far fa-star"></i>
            }

        </button>
        @{
            if (PerfilModel.Planejamento.Contains(Convert.ToInt32(User.FindFirst(ClaimTypes.PrimaryGroupSid).Value.ToString())))
        {
            
        <div class="dropdown dashboard-options">
            <button class="btn btn-light btn-sm" data-bs-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                <li>
                    <a class="dropdown-item btn-editar" style="color:#ff6600" data-id="@Model.Id">
                        <i class="fas fa-edit me-2" ></i>Editar
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="#" onclick="confirmarExclusao('@Model.Id')">
                        <i class="fas fa-trash me-2"></i>Excluir
                    </a>
                </li>
@*                 <li>
                    <a class="dropdown-item text-secondary" href="#" data-bs-toggle="modal" data-bs-target="#modalHistorico">
                        <i class="fas fa-history me-2"></i>Ver Histórico
                    </a>
                </li> *@
            </ul>
        </div>

        }
        }
    </div>
    <div class="dashboard-header">
        <img src="@Model.CaminhoImagem" alt="Dashboard" class="dashboard-img" />
        <br/>
        <div class="dashboard-info">
            <h4 class="dashboard-title">@Model.Titulo</h4>
        </div>

        <!-- Nav de ações -->
    </div>

    <div class="dashboard-actions">
        <button title="@Model.Descricao" onclick="window.open('VisualizarBI?id=@Model.Id', '_blank')" class="btn-dashboard">Acessar Dashboard</button>

    </div>
</div>
